- assignee_lists_available = board.resource_parent.feature_available?(:board_assignee_lists)
- milestone_lists_available = board.resource_parent.feature_available?(:board_milestone_lists)

- if assignee_lists_available || milestone_lists_available
  .dropdown.boards-add-list.gl-ml-3#js-add-list
    %button.btn.btn-success.btn-inverted.d-flex.js-new-board-list{ type: "button", data: board_list_data }
      %span Add list
      = sprite_icon('chevron-down', size: 16, css_class: 'gl-ml-2 btn-success-board-list-chevron')
    .dropdown-menu.dropdown-menu-paging.dropdown-menu-right.dropdown-menu-issues-board-new.dropdown-menu-selectable.dropdown-menu-tabs.pt-0
      %ul.nav.nav-tabs.dropdown-tabs-list.d-flex.js-new-board-list-tabs{ role: 'tablist' }
        %li.nav-item.dropdown-tab-item.flex-grow-1.flex-shrink-1.w-0.border-left-0.js-tab-button-labels
          %a.w-100.text-center.py-3.px-2.active{ href: '#', role: 'tab', data: { is_link: 'true', toggle: 'tab', action: 'tab-labels', target: '#tab-labels' } }
            Label

        - if assignee_lists_available
          %li.nav-item.dropdown-tab-item.flex-grow-1.flex-shrink-1.w-0.js-tab-button-assignees
            %a.w-100.text-center.py-3.px-2{ href: '#', role: 'tab', data: { is_link: 'true', toggle: 'tab', action: 'tab-assignees', target: '#tab-assignees' } }
              Assignee

        - if milestone_lists_available
          %li.nav-item.dropdown-tab-item.flex-grow-1.flex-shrink-1.w-0.js-tab-button-milestones
            %a.w-100.text-center.py-3.px-2{ href: '#', role: 'tab', data: { is_link: 'true', toggle: 'tab', action: 'tab-milestones', target: '#tab-milestones' } }
              Milestone
      .tab-content
        #tab-labels.tab-pane.tab-pane-labels.active.js-tab-container-labels{ role: 'tabpanel' }
          = render partial: "shared/issuable/label_page_default", locals: { show_title: false, show_footer: true, show_create: true, show_boards_content: true, content_title: _('Label lists show all issues with the selected label.') }
          - if can?(current_user, :admin_label, board.resource_parent)
            = render partial: "shared/issuable/label_page_create", locals: { show_close: false }

        - if assignee_lists_available
          #tab-assignees.tab-pane.tab-pane-assignees.js-tab-container-assignees{ role: 'tabpanel' }
            = render partial: "shared/issuable/assignee_page_default"

        - if milestone_lists_available
          #tab-milestones.tab-pane.tab-pane-milestones.js-tab-container-milestones{ role: 'tabpanel' }
            = render partial: "shared/issuable/milestone_page_default"
      = dropdown_loading
- else
  = render_ce 'shared/issuable/board_create_list_dropdown', board: board
